.icon-48-opportunitiesresponsesstatuses {
      background-image: url(../images/l_opportunitiesresponsesstatuses.png);
      padding-left:60px!important;
}

.icon-48-opportunityresponsestatus {
      background-image: url(../images/l_opportunitiesresponsesstatuses.png);
      padding-left:60px!important;
}

